In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("50_Startups.csv")

In [3]:
dataset.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
dataset.isnull().any()

R&D Spend          False
Administration     False
Marketing Spend    False
State              False
Profit             False
dtype: bool

In [5]:
dataset['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#convert Country column to numerical format
dataset['State'] = le.fit_transform(dataset['State'])

In [7]:
dataset.head(5)

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [8]:
x = dataset.iloc[:,0:4].values
y = dataset.iloc[:,[4]].values

In [9]:
#Using one hot encoder on State
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()
z = one.fit_transform(x[:,3:4]).toarray()
x = np.delete(x,[3],axis=1)
x = np.concatenate((z,x),axis=1)

In [10]:
x.shape

(50, 6)

In [11]:
#split the data to train and set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state= 0)

In [12]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
import pickle
pickle.dump(reg,open('profit.pkl','wb'))

In [13]:
y_pred = reg.predict(x_test)

In [14]:
y_pred

array([[103015.20159796],
       [132582.27760816],
       [132447.73845174],
       [ 71976.09851258],
       [178537.48221055],
       [116161.24230166],
       [ 67851.69209676],
       [ 98791.73374686],
       [113969.43533013],
       [167921.06569551]])

In [15]:
y_test

array([[103282.38],
       [144259.4 ],
       [146121.95],
       [ 77798.83],
       [191050.39],
       [105008.31],
       [ 81229.06],
       [ 97483.56],
       [110352.25],
       [166187.94]])

In [16]:
#finding accuracy
from sklearn.metrics import r2_score
accuracy = r2_score(y_test,y_pred)
accuracy

0.9347068473282303